
@font-face {
    font-family: myFirstFont;
    src: url(VictorianParlorVintage.otf);
}
body{

	text-align:center;
  font-family: myFirstFont;
  background-image: url(bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #66ffc2;
}


.box{

	text-align:left;
	width:auto;
	height:auto;

}

h1{

	position:relative;
  font-size: 350%;
}
h1:hover{
  font-size: 500%;
}
.about{
  width: 30%;
  font-size: 170%;
  float: right;
  padding: 20px;
  margin-right: 20px;
  margin-top: -300px;
}

canvas{

	position:relative;

}
button{
  font-size: 120%;
  background-color: inherit;
  padding: 10px;
  border: none;
  color: white;
}

aside{
  float:left;
  padding: 10px;
  margin-top: -120px;
  margin-left: 30px;
}
textarea{
  font-size: 120%;
  background-color: inherit;
  color: white;
  border: 1px solid black;
}
footer{
  margin-top: 70px;
  margin-left: -260px;
  float:left;
  font-family: sans-serif;
  color:black;
}
